<h3>Investments</h3>
<table>
  <tr>
  <th> Customer ID</th>
    <th> Investment ID</th>
    <th>stocksymbol</th>
    <th>no of shares</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% _.each(investments, function(investment) { %>
  <tr data-id="<%= investment.id %>" data-model="investment" >
    <td><%= investment.owner %></td>
    <td><%= investment.id %></td>
    <td><%= investment.invst %></td>
    <td><%= investment.details %></td>
    <td><a href="/stock/show/<%= investment.id %>">Show</a></td>
    <td><a href="/stock/edit/<%= investment.id %>">Edit</a></td>
    <td><a href="/stock/destroy/<%= investment.id %>">Delete</a></td>
  </tr>
  <% }) %>
</table>
